#epub-body {
    background: white;
    color: black;
    margin: 0;
    padding: 0;
    font-size: 32px !important;
    line-height: 1.8 !important;
    direction: ltr !important;
    writing-mode: horizontal-tb !important;
}

body {
    direction: ltr !important;
}

.container {
    width: 90vw !important;
    margin: 0 5vw !important;
    padding: 0 !important;
    direction: ltr !important;
    overflow-x: hidden !important;
    writing-mode: horizontal-tb !important;
}

body p {
    text-align: left;
}

body p img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 100% !important;
    object-fit: cover !important;
    padding: 0 0; !important;
}

#page-info {
    position: fixed;
    bottom: 20px;
    font-family: "Roboto Thin", serif;
    left: 0;
    right: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    text-align: center;
    font-size: 20px;
    z-index: 1000;
    border-radius: 5px;
}

p:hover {
    border-radius: 10px;
    background-color: rgba(255, 255, 0, 0.3);
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.translation {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: lightyellow;
    color: slategrey;
}

.toast {
    position: fixed;
    top: 16px;
    right: 16px;
    background-color: darkred;
    color: #fff;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    font-size: 14px;
}